name: Pull Request Checks

on:
  push:
    branches:
      - "*" # matches every branch
      - "*/*" # matches every branch containing a single '/'
      - "!master" # excludes master
  pull_request:
    types: [assigned, opened]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        run: |
          npm ci
          npm run bootstrap
          npm run lint
          npm run test
      - name: run security audit of npm packages
        run: |
          npm run audit-ci
      - name: scan for exposed aws secrets
        run: |
          git clone https://github.com/awslabs/git-secrets.git
          cd ./git-secrets
          sudo make install
          cd ../
          rm -rf git-secrets
          git secrets --register-aws
          git-secrets --scan -r
        env:
          CI: true
